body {
    margin: 0;
    padding: 0;
}

img{
    height: 25%%;

}

section{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.corazon{
display: flex;
flex-direction: column;
align-items: stretch;
}

.emojis {
    margin: 0.1rem;

}

button {
    margin-top: 0.4rem;
}