body {
    margin: 0;
    padding: 0;
}

img{
    object-fit: scale-down;
    height: 16em;
    padding-bottom: 0.5rem;
    width: 22em;
}

section{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.corazon{
display: flex;
flex-direction: column;
align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.emojis {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    padding: 1em;
    width: 22em;

}



